/*
1. 화면 너비 768 미만에서 모바일 화면으로 최소 사이즈는 500.
컨텐츠 최대 1256px padding: 0 60px 포함
*/

@import "reset.css";

.container,
main {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

main {
  padding-top: 15px;
  padding-bottom: 15px;
}

.top-baaner {
  width: 100%;
  height: 50px;
  background-color: #00bbff;
  text-align: center;
  position: relative;
}

.top-baaner p {
  color: #fff;
  line-height: 50px;
  font-size: 18px;
}

.top-baaner p span {
  font-weight: bold;
}

.top-baaner button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: 50px;
}

.top-baaner button:before,
.top-baaner button:after {
  position: absolute;
  left: 13px;
  top: -1px;
  content: " ";
  height: 30px;
  width: 2px;
  background-color: #fff;
}
.top-baaner button:before {
  transform: rotate(45deg);
}
.top-baaner button:after {
  transform: rotate(-45deg);
}

header .container {
  height: 80px;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  box-sizing: border-box;
  line-height: 0;
}

header .container .logo {
  margin-right: 35px;
}

header .page-link li {
  display: inline-block;
  padding: 10px;
}

header .page-link li a {
  font-size: 18px;
  font-weight: bold;
}

header .page-link li a.on {
  color: #35c5f0;
}

.search {
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid #dadde0;
  border-radius: 4px;
  height: 40px;
  padding: 0 14px;
  width: 250px;
}

.search .icon {
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  color: #828c94;
  cursor: pointer;
}

.search input {
  display: inline-block;
  width: 185px;
  font-size: 15px;
  height: 100%;
  padding: 5px;
  border: none;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  color: #bdbdbd;
}

.util-link li {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.util-link li:first-child::after,
.util-link li:last-child::after {
  display: none;
}

.util-link li:after {
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #eaedef;
  position: absolute;
  top: 16px;
  right: 5px;
}

.util-link li a {
  font-size: 15px;
  line-height: 50px;
}

.util-link li .bx-cart {
  font-size: 25px;
  line-height: 50px;
}

button.write {
  width: auto;
  height: 40px;
  line-height: 41px;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background-color: #35c5f0;
  outline: none;
  overflow: hidden;
}

button.write i {
  padding-left: 5px;
}

.write-box {
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 100px;
  z-index: 10;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 340px;
  height: auto;
  transition: all 0.3s;
  opacity: 0;
}

.write-box.on {
  top: 120px;
  opacity: 1;
}

.write-box a {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 3px;
}

.write-box a:hover {
  background-color: #f7f8ff;
}

.write-box a .img {
  margin-right: 15px;
}

.write-box a .text p:first-child {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;
}

.write-box a .text p:last-child {
  font-size: 12px;
  color: #888;
  line-height: 1.2;
}

.nav-container {
  border-top: 1px solid rgb(234, 237, 239);
  border-bottom: 1px solid rgb(234, 237, 239);
}

nav {
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
}

.nav-container .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span {
  padding-right: 20px;
}

nav span a {
  font-size: 16px;
  color: #3a3a3a;
  position: relative;
  padding: 0 5px;
}
nav span a:hover,
nav span a.on {
  color: #35c5f0;
}

nav span a.on:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #35c5f0;
  left: 0;
  bottom: -16px;
}

.banner {
  display: flex;
  height: 508px;
}

.banner .big-banner {
  flex: 1 1 847px;
  height: 100%;
  background-color: goldenrod;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}

.banner .big-banner .text {
  color: #fff;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.banner .big-banner .text .title {
  font-size: 30px;
  font-weight: bold;
}

.banner .big-banner .text .user {
  line-height: 30px;
  display: flex;
  align-items: center;
}

.banner .big-banner .text .img {
  display: block;
  width: 30px;
  height: 30px;
  background-color: darkred;
  border-radius: 50%;
  margin-right: 5px;
}

/* 이벤트 배너 슬라이드 */
.banner .event-list {
  margin-left: 20px;
  flex: 1 1 269px;
  height: 100%;
  position: relative;
  transition: all 0.3s;
  width: 269px;
}

.slide-box {
  overflow: hidden;
  border-radius: 5px;
}

.slide-wrap {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* 추가 */
}

.slide-content {
  flex: 0 0 269px;
}

.pagination {
  font-size: 14px;
  height: 26px;
  border-radius: 13px;
  background-color: rgba(33, 38, 41, 0.5);
  width: 50px;
  text-align: center;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

button.btn-default {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 35px;
  text-align: center;
  color: #555;
  position: absolute;
  top: calc(50% - 25px);
  transition: all 0.3s;
  opacity: 0;
  z-index: 8;
}

button.btn-default i:before {
  line-height: 50px;
}

.banner .event-list button.prev {
  left: -15px;
}

.banner .event-list button.next {
  right: -15px;
}

.icon-link {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin: 30px 0;
}

.icon-link .icon {
  flex: 1;
  text-align: center;
}

.icon-link .icon img {
  width: 88px;
  margin: 0 auto;
}

.icon-link .icon p {
  margin-top: 20px;
}

.post {
  margin-bottom: 35px;
}

section {
  margin-bottom: 50px;
}

.section-title {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.section-title h3 {
  overflow: hidden;
  display: inline-block;
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 28px;
}

.section-title .more {
  color: #35c5f0;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}
.section-list {
  position: relative;
}

.section-list.greed4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.section-list.greed3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-list.flex {
  display: flex;
  overflow: hidden;
}

.section-list.flex article {
  margin-right: 20px;
}

.section-list a:hover .img {
  background-size: 110%;
}

.section-list .img {
  background-size: 100%;
  background-position: center center;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.section-list .img .top-tag {
  display: none;
  font-size: 10px;
  padding: 0px 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 119, 119);
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.section-list .img .top-tag.on {
  display: inline-block;
}

.section-list .img .mark {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 30px;
  z-index: 5;
}

.section-list .img .mark .bxs-bookmark:before {
  color: #fff;
  opacity: 0.5;
}

.section-list .img .mark .save.bxs-bookmark:before {
  color: #35c5f0;
  opacity: 1;
}

.section-list .text {
  min-width: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(47, 52, 56);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.section-list .text .title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.section-list strong {
  font-weight: bold;
  color: #35c5f0;
  margin-right: 3px;
}

/* 메인 포스트 */
.post .section-list .img {
  height: 180px;
}

/* 오늘의 딜 */
.today-deal .today article {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  flex-shrink: 0;
  scroll-snap-align: start;
  width: calc((100% - 60px) / 4);
}

.today-deal .section-list .img {
  height: 270px;
}

.section-list .img .top-tag.time {
  display: inline-block;
  font-size: 12px;
}

.today-deal .section-list .company {
  font-size: 12px;
  color: #828c94;
  line-height: 1;
}

.today-deal .section-list .memo {
  margin-right: 5px;
}

.today-deal .section-list .name {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  max-height: 34px;
  -webkit-line-clamp: 2;
  letter-spacing: -0.3px;
}

.today-deal .section-list .price {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
}

.today-deal .section-list .review {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.3px;
  font-weight: bold;
  margin-top: 5px;
}

.today-deal .section-list .review .star {
  color: #35c5f0;
}

.today-deal .section-list .review .cnt {
  color: #9e9e9e;
  margin-left: 3px;
}

.today-deal .section-list .tag span {
  display: inline-block;
  font-size: 12px;
  padding: 0px 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 119, 119);
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
  margin-right: 5px;
}

.today-deal .section-list .tag span.delivery {
  background-color: #ddd;
  color: rgb(117, 117, 117);
}
.today-deal .section-list .tag span.coupon {
  background-color: #fff;
  border: 1px solid #dedede;
  color: #555;
  margin-top: 5px;
}

.today-deal .section-list .tag span.coupon i {
  margin-right: 2px;
  font-size: 14px;
  color: rgb(255, 119, 119);
}

/* 이런 사진 찾고 있나요? */
.photo article {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  flex-shrink: 0;
  scroll-snap-align: start;
  width: calc((100% - 100px) / 6);
}

.photo .user-id {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.photo .user-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  background-color: green;
  margin-right: 3px;
}

.photo .user-name {
  overflow: hidden;
  display: inline-block;
  max-width: 100px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 시공 리뷰 */
.review .title {
  font-weight: bold;
}

.review .content {
  overflow: hidden;
  display: -webkit-box;
  margin-top: 2px;
  font-size: 16px;
  line-height: 24px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 오늘의 기획전 */
.today-plan article {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  flex-shrink: 0;
  scroll-snap-align: start;
  width: calc((100% - 60px) / 4);
}

.today-plan .text .company {
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.today-plan .text .name {
  font-weight: bold;
}

/* 베스트 */
/* .best.today-deal article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
} */

.best .tag-list ul {
  display: flex;
  margin-bottom: 15px;
  padding: 0px;
  overflow: hidden;
}

.best .tag-list ul li {
  margin-right: 10px;
}

.best .tag-list label {
  display: inline-block;
  position: relative;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  padding-left: 12px;
  padding-right: 12px;
  color: rgb(47, 52, 56);
  background-color: #f1f1f1;
  cursor: pointer;
}

.best .tag-list label.on {
  color: rgb(255, 255, 255);
  background-color: rgb(53, 197, 240);
}

.best .rank-mark {
  position: absolute;
  top: -13px;
  left: 0;
  font-size: 50px;
}

.best .rank-mark {
  color: rgb(53, 197, 240);
  position: relative;
}

.best .rank-mark span {
  font-size: 20px;
  position: absolute;
  color: #fff;
  top: 9px;
  left: 21px;
}

/* 이런 사진 찾고 있나요? */
.photo .section-list {
  transition: 0.3s ease-in-out;
}
.photo .section-list .img {
  height: 230px;
}
.photo .btn-box {
  height: 100%;
  position: relative;
}
.photo .btn-box button {
  opacity: 1;
}

.photo .btn-box button.prev {
  left: -25px;
}

.photo .btn-box button.next {
  right: -25px;
}

/* 유저들의 인테리어 시공 리뷰 */
.review .img {
  height: 245px;
}

/* 오늘의 기획전 */
.today-plan .img {
  height: 180px;
  transition: all 0.3s;
  background-size: cover;
}

.today-plan .section-list a:hover .img {
  background-size: cover;
}
