/*
1. 화면 너비 768 미만에서 모바일 화면으로 최소 사이즈는 500.
컨텐츠 최대 1256px padding: 0 60px 포함
*/

@import "reset.css";

.container,
main {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

main {
  padding-top: 15px;
  padding-bottom: 15px;
}

.top-baaner {
  width: 100%;
  height: 50px;
  background-color: #00bbff;
  text-align: center;
  position: relative;
}

.top-baaner p {
  color: #fff;
  line-height: 50px;
  font-size: 18px;
}

.top-baaner p span {
  font-weight: bold;
}

.top-baaner button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: 50px;
}

.top-baaner button:before,
.top-baaner button:after {
  position: absolute;
  left: 13px;
  top: -1px;
  content: " ";
  height: 30px;
  width: 2px;
  background-color: #fff;
}
.top-baaner button:before {
  transform: rotate(45deg);
}
.top-baaner button:after {
  transform: rotate(-45deg);
}

header .container {
  height: 80px;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  box-sizing: border-box;
  line-height: 0;
}

header .container .logo {
  margin-right: 35px;
}

header .page-link li {
  display: inline-block;
  padding: 10px;
}

header .page-link li a {
  font-size: 18px;
  font-weight: bold;
}

header .page-link li a.on {
  color: #35c5f0;
}

.search {
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid #dadde0;
  border-radius: 4px;
  height: 40px;
  padding: 0 14px;
  width: 250px;
}

.search .icon {
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  color: #828c94;
  cursor: pointer;
}

.search input {
  display: inline-block;
  width: 185px;
  font-size: 15px;
  height: 100%;
  padding: 5px;
  border: none;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  color: #bdbdbd;
}

.util-link li {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.util-link li:first-child::after,
.util-link li:last-child::after {
  display: none;
}

.util-link li:after {
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #eaedef;
  position: absolute;
  top: 16px;
  right: 5px;
}

.util-link li a {
  font-size: 15px;
  line-height: 50px;
}

.util-link li .bx-cart {
  font-size: 25px;
  line-height: 50px;
}

button.write {
  width: auto;
  height: 40px;
  line-height: 41px;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background-color: #35c5f0;
  outline: none;
  overflow: hidden;
}

button.write i {
  padding-left: 5px;
}

.write-box {
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 100px;
  z-index: 10;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 340px;
  height: auto;
  transition: all 0.3s;
  opacity: 0;
}

.write-box.on {
  top: 120px;
  opacity: 1;
}

.write-box a {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 3px;
}

.write-box a:hover {
  background-color: #f7f8ff;
}

.write-box a .img {
  margin-right: 15px;
}

.write-box a .text p:first-child {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;
}

.write-box a .text p:last-child {
  font-size: 12px;
  color: #888;
  line-height: 1.2;
}

.nav-container {
  border-top: 1px solid rgb(234, 237, 239);
  border-bottom: 1px solid rgb(234, 237, 239);
}

nav {
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
}

.nav-container .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span {
  padding-right: 20px;
}

nav span a {
  font-size: 16px;
  color: #3a3a3a;
  position: relative;
  padding: 0 5px;
}
nav span a:hover,
nav span a.on {
  color: #35c5f0;
}

nav span a.on:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #35c5f0;
  left: 0;
  bottom: -16px;
}

.banner {
  display: flex;
  height: 508px;
}

.banner .big-banner {
  flex: 1 1 847px;
  height: 100%;
  background-color: goldenrod;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}

.banner .big-banner .text {
  color: #fff;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.banner .big-banner .text .title {
  font-size: 30px;
  font-weight: bold;
}

.banner .big-banner .text .user {
  line-height: 30px;
  display: flex;
  align-items: center;
}

.banner .big-banner .text .img {
  display: block;
  width: 30px;
  height: 30px;
  background-color: darkred;
  border-radius: 50%;
  margin-right: 5px;
}

.banner .event-list {
  margin-left: 20px;
  flex: 1 1 269px;
  height: 100%;
  background-color: green;
  border-radius: 5px;
  position: relative;
}

.banner .event-list button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 35px;
  text-align: center;
  color: #555;
  position: absolute;
  top: calc(50% - 25px);
  transition: all 0.3s;
  opacity: 0;
}

.banner .event-list button.prev {
  left: -15px;
}

.banner .event-list button.next {
  right: -15px;
}

.banner .event-list button i:before {
  line-height: 50px;
}

.icon-link {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin: 30px 0;
}

.icon-link .icon {
  flex: 1;
  text-align: center;
}

.icon-link .icon img {
  width: 88px;
  margin: 0 auto;
}

.icon-link .icon p {
  margin-top: 20px;
}

section.post {
    margin-bottom: 50px;
}

section.post .post-title {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

section.post .post-title h3 {
  overflow: hidden;
  display: inline-block;
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 28px;
}

section.post .post-title .more {
  color: #35c5f0;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

section.post .post-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

section.post .post-list a:hover .img {
    background-size: 120%;
}

section.post .post-list .img {
  background-size: 100%;
  background-position: center center;
  height: 180px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: all .3s;
}

section.post .post-list .img .new {
    font-size: 10px;
    padding: 0px 6px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 119, 119);
    display: inline-block;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 10px;
}

section.post .post-list .img .mark {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 30px;
  z-index: 5;
}

section.post .post-list .img .mark .bxs-bookmark:before {
    color:#fff;
    opacity: 0.5;
}

section.post .post-list .img .mark .save.bxs-bookmark:before {
    color: #35c5f0;
    opacity: 1;
}

section.post .post-list .text {
  min-width: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(47, 52, 56);
  word-break: keep-all;
  overflow-wrap: break-word;
}

section.post .post-list .text p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

section.post .post-list .text span {
  font-weight: bold;
  color: #35c5f0;
  margin-right: 5px;
}
